[run]
source=src
omit=
    */docs/*
    */__init__.py
    */tests/*

[paths]
source=src

[report]
show_missing=True
fail_under=80
exclude_also =
    if __name__ == .__main__.:
    \.\.\.
    if TYPE_CHECKING:
