# Backup files
*.bak

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
*.egg-info/
*.egg

# Documentation (Sphinx)
docs/_build/
docs/build/

# Environement
env/
venv/
.env
.idea/
.python-version
.venv
.vscode/

# Temporary files
*.swp

# Tests and coverage
htmlcov/
.cache
.cache/
.coverage
